body{
    
    background-image: url(abstract.jpg);
    background-repeat: no-repeat;
    position: top right;
    
}
#ed{
    background-color: transparent;
    border: 2px solid red;
}
#hobbies{
    background-color: transparent;
    border: 2px solid green;
}
#pp{
    background-color: transparent;
    border: 2px solid magenta;  
}
#projects{
    background-color: transparent;
    border: 2px solid blue;
}
#skills{
    background-color: black;
    border: 2px solid black;
}
.navbar {
    background-color: #820000;
    border-radius: 30px;
}

.navbar li {
    float: left;
    list-style: none;
    padding: 7px 7px;
    margin: 11px 4px;

}

.navbar ul {
    overflow: auto;
}

.navbar a {
    text-decoration: none;
    color: #F7ECDE;

}

.search {
    float: right;

    padding: 12px 75px;

}

.navbar input {
    border: 2px solid black;
    border-radius: 6px;
    background-color: #E8F9FD;
    margin: 5px 5px;
}